#root {
  position: relative;
  font-family: sans-serif;
  box-sizing: border-box;
}

button,
input,
.no-drag {
  -webkit-app-region: no-drag;
}

.draggable {
  -webkit-app-region: drag;
}

.chat-box {
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  color: white;
  font-size: 15px;
  background-color: rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 3px white;
}

.messages {
  flex: 1;
  overflow-y: auto;
  scrollbar-width: none;
  padding: 8px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  height: 380px;
}

.message {
  margin-bottom: 8px;
  border-radius: 2px;
  max-width: 75%;
  word-wrap: break-word;
  border: 1px solid rgba(255, 255, 255, 0.5);
  /* background-color: rgba(0, 0, 0, 0.4);
  color: white; */
  background-color: white;
  color: black;
}

.input-area {
  display: flex;
  align-items: center;
  padding: 8px;
  border-top: 1px solid white;
  gap: 8px;
}

.input-area input {
  flex: 1;
  padding: 8px;
  border: 1px solid white;
  border-radius: 6px;
}

.input-area input:focus {
  outline: none;
}

.icon-btn,
.send-btn {
  padding: 8px;
  cursor: pointer;
  border-radius: 4px;
  color: white;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.icon-btn:hover,
.send-btn:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.1);
}
